{% extends 'base.html.twig' %}

{% block title %}Edit LeaveCredit{% endblock %}

{% block content %}
    <h1>Edit LeaveCredit</h1>

    {{ include('leave_credit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('leave_credit_index') }}">back to list</a>

    {{ include('leave_credit/_delete_form.html.twig') }}
{% endblock %}
