{% extends 'base.html.twig' %}

{% block title %}Leave index{% endblock %}

{% block content %}
{% set leaveDayOptions = constant('App\\Entity\\Leave::LEAVE_DAY_OPTIONS') %}
{% set status = constant('App\\Entity\\Leave::LEAVE_STATUS') %}
<div class="col-md-8">
    <div class="card shadow">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Leave Credit</h6>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>LeaveType Type</th>
                        <th>FromDate</th>
                        <th>ToDate</th>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave in leave_credits %}
                    <tr>
                        <td>{{ leave.leaveType }}</td>
                        <td>{{ leave.reason }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
