{% extends 'base.html.twig' %}

{% block title %}New LeaveType{% endblock %}

{% block content %}
    <h1>Create new LeaveType</h1>

    {{ include('leave_type/_form.html.twig') }}

    <a href="{{ path('leave_type_index') }}">back to list</a>
{% endblock %}
